
# .env
# MySQL
DB_USERNAME=root
DB_PASSWORD=admin
DB_NAME=db_usuariosv1
DB_URL=mysql-db
DB_PORT=3306

# Cloudinary
# Tus credenciales de cloudinary
CLOUDINARY_CLOUD_NAME= 
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=