
# .env
# MySQL
DB_HOST=mysql-db
DB_PORT=3306
DB_NAME=db_usuariosv1
DB_USERNAME=root
DB_PASSWORD=admin

# Cloudinary
# Tus credenciales de cloudinary
CLOUDINARY_CLOUD_NAME= 
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=